# Core Framework
fastapi
uvicorn
python-multipart
python-dotenv
opencv-python-headless
google-generativeai
resend
pydub
aiofiles
email-validator

# Database
sqlalchemy
psycopg2-binary
alembic

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt
google-auth
google-auth-oauthlib

# AI & Machine Learning
google-generativeai
numpy
opencv-python


# Email
resend

# File Processing & Utils
PyPDF2
python-docx
pydub
SpeechRecognition
google-cloud-texttospeech
gtts
