:root{
   --bg-gradient: linear-gradient(to right,#bcc2c6, #2c3e50);
   --text-black: black;
   --text-gray-800: rgb(31, 41, 55);
   --ele-focus: #2c3e50;
   --ele-error: rgb(248, 113, 113);
}

.move-bg {
  background: var(--bg-gradient);
  background-size: 120% 120%;
  animation: gradientShift 8s ease infinite;
  border-radius: 0;
  perspective: 1000px;
  will-change: transform;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-clr{
  color: var(--text-black)
}

.text-gray-8{
  color: var(--text-gray-800);
}

.focus-ele:focus{
  box-shadow: 0px 0px 2px 2px var(--ele-focus);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
}

.hover-ele:hover{
    box-shadow: 0px 0px 2px 2px var(--ele-focus);
}

.error-ele{
  border: #ef4444;
}

.error-ele:focus{
  box-shadow: 0px 0px 2px 2px var(--ele-error);
}