/* src/new.css */
:root {
  --background-light: #FAF9F5;
  --text-light: #3D3D3A  ;
  --header-bg-light: #FAF9F5;
  
  --card-name-light: #222;
  --card-roll-light: #717171;
  --primary-color: #D97757;
  --search-border-light: #e1e5e9;
  --bottom-sheet-bg-light: #FAF9F5;
  --bottom-sheet-header-bg-light: #FAF9F5;
  --bottom-sheet-btn-bg-light: #E3DACC;
  --bottom-sheet-btn-color-light: #555;
  --social-btn-bg-light: #FAF9F5;
  --social-btn-border-light: rgba(217, 119, 87, 0.2);
  --social-btn-color-light: #222;
}